## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [125]:
# Your code here
sample_list_1 = random.sample(range(0,100),k = 80)
print(sample_list_1)

[12, 98, 57, 87, 8, 1, 11, 83, 55, 73, 96, 60, 69, 13, 50, 20, 5, 67, 4, 75, 54, 92, 32, 23, 29, 0, 90, 24, 31, 56, 28, 91, 72, 30, 77, 46, 81, 93, 40, 22, 9, 82, 42, 15, 70, 52, 79, 17, 25, 27, 86, 88, 14, 6, 94, 26, 95, 3, 47, 84, 34, 71, 58, 10, 21, 78, 63, 74, 66, 62, 76, 59, 36, 53, 35, 38, 49, 64, 39, 16]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [126]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

#the length is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [127]:
# Your code here
sample_list_2 = []
while len(sample_list_2) < 80:
    for i in random.sample(range(0,100),k = 1):
        sample_list_2.append(i)
print(sample_list_2)

[36, 52, 88, 72, 8, 36, 50, 81, 48, 50, 0, 78, 87, 27, 95, 80, 36, 25, 56, 49, 73, 14, 12, 0, 37, 56, 40, 52, 51, 54, 69, 74, 52, 36, 45, 66, 17, 47, 51, 39, 71, 88, 89, 24, 45, 46, 6, 63, 80, 19, 44, 16, 2, 2, 12, 81, 67, 94, 47, 91, 81, 21, 1, 93, 39, 2, 62, 35, 6, 86, 19, 23, 41, 25, 47, 98, 16, 42, 69, 1]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [128]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [129]:
# Your code here
set3 = {i for i in set1 if i not in set2}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [130]:
# Your code here
set4 = {i for i in set2 if i not in set1}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [131]:
# Your code here
set5 = {i for i in range(0,100) if (i in set1 and i in set2)}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [132]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

'''set1 = set3 + set5
set2 = set4 + set5
set3 = set1 - set5
set4 = set5 - set3
set5 = set3 + set4
'''
print(len(set1) == len(set3) + len(set5))
print(len(set2) == len(set4) + len(set5))
print(len(set3) == len(set1) - len(set5))
print(len(set4) == len(set2) - len(set5))
print(len(set5) == len(set2) - len(set4))

#we can swap and substitue on any equation. Examples:

#checking len(set1) if we don't know len(set5)
print(len(set1) == len(set3) + (len(set2) - len(set4)))

#checking len(set4) if we don't know len(set2)
print(len(set4) == len(set2) - len(set5))

80
54
36
10
44
True
True
True
True
True
True
True

#### Create an empty set called `set6`.

In [133]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [134]:
# Your code here
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [135]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [136]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [137]:
# Your code here
set3.union(set3,set5)
set1.union(set2)
set3.union(set3,set5) == set1.union(set2)

False

#### Using the `pop` method, remove the first element from `set1`.

In [138]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [139]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 35, 36, 38, 40, 42, 46, 47, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 98}